@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    outline: none;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
    border: none;
    scroll-behavior: smooth;
    transition: all 0.2s ease-in-out;
}

/* Home page */
/* header section starts */
header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 100px;
    border-bottom: 2px solid #151515d6;
    z-index: 1;
    position: fixed;
    background: #0b0b0bc7;
    top: 0;
    left: 0;
}

header .logo {
    width: 90px;
}

header .logo img {
    width: 100%;
}

header .navbar .menu {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header .menu a {
    line-height: 32px;
    text-align: left;
    color: #fff;
    padding: 1px 15px;
    font-size: 18px;
}

header .menu a:hover {
    text-decoration: underline;
}

header .buttons {
    display: flex;
    gap: 20px;
    align-items: center;
    width: 210px;
}
header .buttons .btn{
    width: 95px;
}

/* header section ends */

/* Main-banner section starts */

#main-banner {
    height: 100vh;
    background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.9)),
        url(../images/main-banner.webp) center center / cover no-repeat;
    display: flex;
}

#main-banner .main-banner-content {
    width: 100%;
    display: grid;
    grid-template-columns: 50% 50%;
    margin-top: 10em;
}

#main-banner .main-banner-content .left {
    display: flex;
    flex-direction: column;
    gap: 1em;
}

#main-banner .left h1 {
    width: 770px;
    padding-bottom: 2px;
    position: relative;
    display: inline-block;
}

#main-banner .left h1::before {
    content: url(../images/banner-ring.png);
    position: absolute;
    right: 163px;
    top: 73px;
}

#main-banner p {
    padding: 6px 0 7px 0;
    width: 490px;
}

#main-banner .btn {
    padding: 8px 0 8px 0;
}


#main-banner .left h2 {
    color: #fff;
    font-size: 24px;
    font-weight: 300;
    padding: 25px 0 5px 0;
    margin: 0;
    line-height: normal;
    text-align: left;
    text-transform: unset;
}

#main-banner .img-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    width: 460px;
    gap: 5px;
}

#main-banner .img-container .images {
    height: 110px;
    width: 140px;
}

#main-banner .img-container .images img {
    width: 100%;
    height: 100%;
    border: 1px solid #9A9A9A;
    border-radius: 10px;
}

#main-banner .customers-block {
    display: flex;
    width: 440px;
    padding-top: 5px;
    margin-top: 30px;
}

#main-banner .customers-block .customers-img {
    width: 32px;
}

#main-banner .customers-block .customers-content {
    padding-left: 36px;
}

#main-banner .customers-block h4 {
    color: #fff;
    font-weight: 300;
    font-size: 18px;
    line-height: 20px;
}

#main-banner .customers-block .customer-ratings {
    display: flex;
    align-items: center;
    gap:6px;
}

#main-banner .customers-block .customer-ratings img {
    padding-bottom: 5px;
    width: 18px;
}

#main-banner .customers-block p {
    color: #fff;
    font-size: 16px;
}

#main-banner .social-icons {
    padding: 5px 0 10px 0;
    width: 155px;
    display: flex;
    gap: 16px;
}

#main-banner .social-icons img {
    width: 40px;
}

#main-banner .right {
    display: grid;
    grid-template-rows: 32% 10%;
    grid-template-columns: 26% 12%;
    gap: 2em;
}

#main-banner .right .images {
    width: 265px;
    height: 300px;
    position: relative;
}

#main-banner .right .images img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#main-banner .right .first {
    grid-area: 1 / 2 / 3;
}

#main-banner .right .second {
    grid-area: 2 / 1 / 2;
}

#main-banner .right .third {
    grid-area: 3 / 3 / 3;
}

/* Main-banner section ends */


/* category-block section starts */
#category-block h3{
    text-align: center;
    /* font-size: 25px; */
}
#category-block .card-container {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 50px;
}

#category-block .card-container .cards {
    height: 310px;
    width: 300px;
}

#category-block .card-container .cards img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#category-block .card-container .cards .card-content {
    display: flex;
    justify-content: center;
    padding-top: 10px;
    align-items: center;
    gap: 10px;
}

#category-block .card-container .cards .card-content h3{
    font-size: 23px;
}
#category-block .card-container .cards .card-content .right-arrow {
    height: 30px;
    width: 26px;
}

#category-block .card-container .cards .card-content .right-arrow img {
    width: 100%;
    height: 100%;
    opacity: 0.78;
}

/* category-block section ends */

/* product section starts */

#product .section-style {
    height: 86vh;
}

#product h3{
    text-align: center;
}

#product .product-container {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 50px;
}

#product .product-container .product-cards {
    height: 530px;
    width: 286px;
}

#product .product-container .product-cards .product-img {
    height: 310px;
    width: 300px;
}

#product .product-container .product-cards .product-img img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

#product .product-container .product-cards .product-content h4 {
    padding-top: 7px;
}

#product .product-container .product-cards .product-content h3 {
    font-weight: 400;
    text-align: left;
    line-height: 30px;
    font-size: 22px;
}

#product .product-container .product-cards .product-content h5 {
    font-weight: 300;
    font-size: 20px;
    line-height: 48px;
}

#product .product-container .product-cards .product-content .btn {
    border: 1px solid rgba(125, 130, 108, 1);
    /* background: transparent; */
}

/* product section ends */

/* Testimonials section starts */
#testimonials .section-style
{
    height: 77vh;
    /* background: black; */
}
#testimonials h3
{
    text-align: center;
    width: 445px;
    margin: 0 auto;
}
#testimonials .testimonials-header h2
{
    margin-bottom: 0;
}
#testimonials .testimonials-header h3{
    font-size: 19px;
    width: 500px;
    margin: 0 auto;
    font-weight: 400;
    line-height: 54px;
    margin-bottom: 13px;
}
#testimonials .testimonial-container
{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 50px;
    place-items: center;
    padding-top: 24px;
}
#testimonials .testimonial-container .testimonial-cards
{
    box-shadow: 0px 4px 100px 0px #AFADB51A;
    height: 372px;
    width: 511px;
    padding: 30px 36px;
    background: #fffbf752;
}
#testimonials .testimonial-container .testimonial-cards img{
    height: 60px;
}

#testimonials .testimonial-container .testimonial-cards .testimonials-content
{
    height: 170px;
}
#testimonials .testimonial-container .testimonial-cards .testimonials-content h4
{
    font-weight: 400;
}
#testimonials .testimonial-container .testimonial-cards .author
{
    display: flex;
    align-items: center;
    padding-top: 15px;
}
#testimonials .testimonial-container .testimonial-cards .author img{
    padding-right: 20px;
    height: 60px;
}
#testimonials .testimonial-container .testimonial-cards .author h5
{
    font-size: 20px;
    font-weight: 500;
}
/* Testimonials section ends */

/* instagram section starts */

#instagram .insta-header h2{
    margin-bottom: 3px;
}
#instagram .insta-content
{
    display: flex;
}
#instagram .insta-icon{
    height: 60px;
    width: 60px;
    margin:0 auto;
}
#instagram .insta-icon img{
    height: 100%;
    width: 100%;

}
#instagram .insta-header a h3{
    font-size: 19px;
    width: 500px;
    margin: 0 auto;
    font-weight: 400;
    line-height: 54px;
    margin-bottom: 13px;
    text-align: center;
    text-decoration: underline;
}
/* instagram section ends */
/* sign_in page & sign up page */
/* form section starts */
.sign-in {
    height: 100vh;
    display: flex;
}

.sign-in .form-style {
    width: 100%;
    display: grid;
    grid-template-columns: 50% 50%;
}

/* .form .form-style .left {
    background: rgb(248 220 194 / 92%);
    padding: 200px 0 0 200px;
}

.form .form-style h1 {
    color: #fff;
}

.form .form-style .form-input {
    margin: 20px 0;
}

.form .form-style .form-input input {
    width: 310px;
    height: 40px;
    border: 1px solid rgb(0, 0, 0, .5);
    font-size: 17px;
    padding: 0 3px;
}

.form .form-style button {
    margin: 0 auto;
}

.form .form-style .forgot {
    display: block;
    margin-bottom: 30px;
    padding-right: 65px;
}

.form #create-account a {
    text-decoration: underline;
}

*/
.sign-in .form-style .right {
    width: 100%;
    height: 100vh;
    background: url(../images/form-right.webp) center center / cover no-repeat;
    ;
}

.sign-in .form-style .right img {
    width: 100%;
    height: 100vh;
}

/* form section ends */
/* From Uiverse.io by micaelgomestavares */ 
.form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    max-width: 350px;
    background-color: #fff;
    padding: 20px;
    border-radius: 20px;
    position: relative;
  }
  
  .title {
    font-size: 28px;
    color: royalblue;
    font-weight: 600;
    letter-spacing: -1px;
    position: relative;
    display: flex;
    align-items: center;
    padding-left: 30px;
  }
  
  .title::before,.title::after {
    position: absolute;
    content: "";
    height: 16px;
    width: 16px;
    border-radius: 50%;
    left: 0px;
    background-color: royalblue;
  }
  
  .title::before {
    width: 18px;
    height: 18px;
    background-color: royalblue;
  }
  
  .title::after {
    width: 18px;
    height: 18px;
    animation: pulse 1s linear infinite;
  }
  
  .message, .signin {
    color: rgba(88, 87, 87, 0.822);
    font-size: 14px;
  }
  
  .signin {
    text-align: center;
  }
  
  .signin a {
    color: royalblue;
  }
  
  .signin a:hover {
    text-decoration: underline royalblue;
  }
  
  .flex {
    display: flex;
    width: 100%;
    gap: 6px;
  }
  
  .form label {
    position: relative;
  }
  
  .form label .input {
    width: 100%;
    padding: 10px 10px 20px 10px;
    outline: 0;
    border: 1px solid rgba(105, 105, 105, 0.397);
    border-radius: 10px;
  }
  
  .form label .input + span {
    position: absolute;
    left: 10px;
    top: 15px;
    color: grey;
    font-size: 0.9em;
    cursor: text;
    transition: 0.3s ease;
  }
  
  .form label .input:placeholder-shown + span {
    top: 15px;
    font-size: 0.9em;
  }
  
  .form label .input:focus + span,.form label .input:valid + span {
    top: 0px;
    font-size: 0.7em;
    font-weight: 600;
  }
  
  .form label .input:valid + span {
    color: green;
  }
  
  .submit {
    border: none;
    outline: none;
    background-color: royalblue;
    padding: 10px;
    border-radius: 10px;
    color: #fff;
    font-size: 16px;
    transform: .3s ease;
  }
  
  .submit:hover {
    background-color: rgb(56, 90, 194);
    cursor: pointer;
  }
  
  @keyframes pulse {
    from {
      transform: scale(0.9);
      opacity: 1;
    }
  
    to {
      transform: scale(1.8);
      opacity: 0;
    }
  }